.body {
  background-color: whitesmoke;
}

.low {
  background-color: lightyellow;
}

.moderate {
  background-color: yellow;
}

.high {
  background-color: orange;
}

.very-high {
  background-color: red;
}

.extreme {
  background-color: darkred;
}

.navbar {
  color: white;
  background-color: navy;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.card {
  margin: 30px auto;
  border: thick solid #0000ff;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}
